.contador {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    padding: 6px;
}

.contador-ativo {
    background-color: #3cff3c;
}

.contador-inativo {
    background-color: red;
}

.equipamento-box md-input-container {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
}

.centered {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.md-subhead {
    font-weight: bolder;
}

.md-toast.error .md-toast-content {
    background-color: red;
    font-size: 20px;
    font-weight: bolder;
}

.md-toast.success .md-toast-content {
    background-color: green;
    font-size: 20px;
    font-weight: bolder;
}

.md-toast.alert .md-toast-content {
    background-color: #e7b42b;
    font-size: 20px;
    font-weight: bolder;
}

.loginBox {
        position: fixed;
    margin: auto;
    margin: auto;
    margin-top: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.searchBox {
    background-color: white;
    font-size: 1.25em;
}

.searchBox md-input-container {
    top: 10px;
}

.searchBox .material-icons {
    color: black;
}

.searchBox input {
    border-color: white !important;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer span {
    margin: 20px;
}

.panel-empresa md-expansion-panel-content {
    padding: 0px 0px !important;
}

.panel-equipamentos table.md-table td.md-cell:last-child,
table.md-table th.md-column:last-child {
    padding: 0;
}

.panel-equipamentos .layout-padding,
.layout-padding-gt-sm,
.layout-padding-gt-sm>*,
.layout-padding-md,
.layout-padding-md>*,
.layout-padding>*,
.layout-padding>.flex,
.layout-padding>.flex-gt-sm,
.layout-padding>.flex-md {
    margin: 0;
}

#map-chamado {
    height: 91.5vh;
    width: 100%;
}

.scrollArea {
    max-height: 200px;
    overflow-y: overlay;
}

.slick-prev,
.slick-next {
    position: relative;
    display: block;
    height: auto;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 0%;
    margin-top: -30px;
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: black;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

md-dialog._md.md-dialog-fullscreen.md-transition-in {
    width: 60%;
}

.card-autocomplete {
    margin-top: 0;
}

.card-autocomplete md-list-item.md-3-line,
md-list-item.md-3-line>.md-no-style {
    margin: -20px;
}