md-input-container .md-input {
    border-width: 1px 1px 1px;
    background: white;
}

md-input-container .md-select {
    border-width: 1px 1px 1px;
    background: white;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-width: 1px 1px 1px;
    background: white;
}

.loginBox a {
    color: white;
}

md-icon svg {
    fill: white !important;
    font-size: 50px;
}


/*
.texto-titulo {
    font: normal normal normal 24px/1.4em raleway, sans-serif;
    letter-spacing: 0.05em;
    font-size: 20px;
    color: #68c1e6;
}

.fundo {
    background-color: #0C3C60;
}

.md-accent {
    background-color: #0C3C60 !important;
    color: white !important;
}

.md-primary {
    background-color: #6ea4ca !important;
    color: white !important;
}

.md-button {
    border-radius: 0;
}

.md-button.md-default-theme.md-raised[disabled],
.md-button.md-raised[disabled],
.md-button.md-default-theme.md-fab[disabled],
.md-button.md-fab[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}*/


/*botao*/

.md-button {
    border-radius: 0;
}

.md-button.md-default-theme.md-accent.md-raised,
.md-button.md-accent.md-raised,
.md-button.md-default-theme.md-accent.md-fab,
.md-button.md-accent.md-fab {
    font-size: 16px;
    color: white;
}

.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
    font-size: 16px;
    color: white;
}

.md-button.md-default-theme.md-raised[disabled],
.md-button.md-raised[disabled],
.md-button.md-default-theme.md-fab[disabled],
.md-button.md-fab[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}


/*card*/

md-card-title-text .md-headline {
    color: white;
    font-size: 29px;
}

md-card md-card-header md-card-avatar+md-card-header-text .md-title {
    color: white;
}

md-card.md-default-theme md-card-header md-card-header-text .md-subhead,
md-card md-card-header md-card-header-text .md-subhead {
    color: white;
}


/*toolbar*/

md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon,
md-toolbar:not(.md-menu-toolbar) md-icon {
    color: white;
}

.md-toolbar-tools h1,
.md-toolbar-tools h2,
.md-toolbar-tools h3,
.md-toolbar-tools span {
    color: white;
}


/*tabs*/

md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]),
md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]) {
    color: white;
}

md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active,
md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active,
md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active md-icon,
md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active md-icon,
md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused,
md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused,
md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused md-icon,
md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused md-icon {
    color: white;
    font-size: 18px;
}

md-ink-bar {
    height: 7px;
}


/*inputs*/

md-input-container.md-input-focused .md-input,
md-input-container.md-input-resized .md-input,
md-input-container .md-input.ng-invalid.ng-dirty {
    border-width: 3px
}

md-select-menu.md-default-theme md-content md-option,
md-select-menu md-content md-option {
    font-size: 20px;
}


/*collapse*/

md-expansion-panel-header.md-no-stick .md-expansion-panel-header-container {
    background-color: #6ea4ca;
}

md-expansion-panel,
md-expansion-panel .md-expansion-panel-footer-container,
md-expansion-panel .md-expansion-panel-header-container,
md-expansion-panel md-expansion-panel-collapsed {
    background: #6ea4ca;
}

md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content {
    background-color: white;
}

md-expansion-panel .md-expansion-panel-footer-container .md-summary,
md-expansion-panel .md-expansion-panel-footer-container .md-title,
md-expansion-panel .md-expansion-panel-header-container .md-summary,
md-expansion-panel .md-expansion-panel-header-container .md-title,
md-expansion-panel md-expansion-panel-collapsed .md-summary,
md-expansion-panel md-expansion-panel-collapsed .md-title {
    color: #fff;
}

.icon-expansion-panel {
    color: white;
}


/*menu painel*/

md-menu-item>.md-button {
    color: #0c3c60;
    font-size: 16px;
}

md-menu-item>.md-button md-icon {
    margin: auto 16px auto 0;
    color: #0c3c60;
}

.md-button.md-default-theme:not([disabled]):hover,
.md-button:not([disabled]):hover {
    background-color: #6ea4ca;
}


/*adicionar equipamento*/

.layout-padding,
.layout-padding-gt-sm,
.layout-padding-gt-sm>*,
.layout-padding-md,
.layout-padding-md>*,
.layout-padding>*,
.layout-padding>.flex,
.layout-padding>.flex-gt-sm,
.layout-padding>.flex-md {
    padding: 5px;
}


/*menu lateral*/

md-list-item,
md-list-item .md-list-item-inner {
    color: #0c3c60;
    font-size: 16px;
}

.md-button.md-default-theme:not([disabled]):hover,
.md-button:not([disabled]):hover {
    background-color: rgba(209, 224, 235, 0.2);
}