<md-dialog aria-label="analise dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Análise</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="an.cancel()">
                <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-if="an.loading"></md-progress-linear>
    <md-dialog-content layout-padding>
        <div ng-if="an.tipoAnalise == 1">
            <form name="formInicioAnalise">
                <div>
                    <md-input-container flex class="md-block" layout-marging>
                        <label>Técnico</label>
                        <md-select ng-model="an.tecnicoSelecionado" name="tecnico" required>
                            <md-option ng-repeat="tecnico in an.tecnicos" ng-value="{{tecnico.id}}" ng-model-option="{trackBy: '$value.Id' }" ng-selected="tecnico.id == an.tecnicoAtual.id">
                                {{tecnico.nomeCompleto}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </form>
        </div>
        <div ng-if="an.tipoAnalise == 2">
            <form name="formFimAnalise" novalidate>
                <div class="md-dialog-content" layout="column">
                    <md-input-container flex>
                        <label>Técnico</label>
                        <md-select ng-model="an.tecnicoSelecionado" name="tecnico" required>
                            <md-option ng-repeat="tecnico in an.tecnicos" ng-value="{{tecnico.id}}" ng-model-option="{trackBy: '$value.Id' }" ng-selected="tecnico.id == an.tecnicoAtual.id">
                                {{tecnico.nomeCompleto}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" md-no-float>
                        <textarea ng-model="an.descricaoAnalise" md-maxlength="150" rows="3" name="descricaoAnalise" placeholder="Descrição da análise para conserto" required></textarea>
                    </md-input-container>

                    <md-expansion-panel md-component-id="panel-pecas" class="panel-pecas">
                        <md-expansion-panel-collapsed>
                            <div class="md-title">Peças</div>
                            <span flex></span>
                            <md-expansion-panel-icon></md-expansion-panel-icon>
                        </md-expansion-panel-collapsed>

                        <md-expansion-panel-expanded>
                            <md-expansion-panel-header ng-click="$panel.collapse()">
                                <div class="md-title">Peças a serem trocadas</div>
                                <span flex></span>
                                <md-expansion-panel-icon></md-expansion-panel-icon>
                            </md-expansion-panel-header>

                            <md-expansion-panel-content>
                                <div layout="row" layout-xs="column">
                                    <md-input-container flex="20" flex-xs="100" md-no-float>
                                        <input ng-model="an.item.codigo" name="codigo" placeholder="Código">
                                    </md-input-container>

                                    <md-input-container flex flex-xs md-no-float>
                                        <input ng-model="an.item.peca" name="peca" placeholder="Descrição">
                                    </md-input-container>

                                    <md-input-container flex flex-xs md-no-float>
                                        <input type="number" min="0" ng-model="an.item.qtd" name="qtd" placeholder="Quant">
                                    </md-input-container>
                                    <div flex>
                                        <md-button aria-label="adicionar" class="md-raised md-accent" style="margin-top: 16px;" ng-click=" an.addRow(an.item)">
                                            Adicionar
                                        </md-button>
                                    </div>
                                </div>

                                <md-table-container ng-if="an.itens.length> 0" class="scrollArea">
                                    <table md-table>
                                        <thead md-head>
                                            <tr md-row>
                                                <th md-column>Código</th>
                                                <th md-column>Descrição</th>
                                                <th md-column>Quant.</th>
                                                <th md-column></th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row ng-repeat="item in an.itens">
                                                <td md-cell>{{item.codigo}}</td>
                                                <td md-cell>{{item.peca}}</td>
                                                <td md-cell>{{item.quantidade}}</td>
                                                <td md-cell>
                                                    <md-button class="md-icon-button md-warn" aria-label="delete" ng-click="an.removeRow(item.codigo)">
                                                        <md-icon class="material-icons">delete</md-icon>
                                                    </md-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                            </md-expansion-panel-content>
                        </md-expansion-panel-expanded>
                    </md-expansion-panel>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-if="an.tipoAnalise == 1" class="md-raised md-primary" ng-click="an.inicioAnalise()">Iniciar</md-button>
        <md-button ng-if="an.tipoAnalise == 2" class="md-raised md-primary" ng-click="an.fimAnalise()">Cadastrar</md-button>
    </md-dialog-actions>
</md-dialog>