<md-dialog aria-label="autorizacao dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Autorização</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="au.cancel()">
                <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-if="au.loading"></md-progress-linear>
    <md-dialog-content>
        <div layout="column" layout-padding>
            <form name="formAut" style="overflow: hidden;">
                <md-input-container name="responsavel" class="md-block" md-no-float>
                    <input ng-model="au.responsavel" placeholder="Responsável" required>
                </md-input-container>
                <md-radio-group flex flex-xs="100" layout-margin layout="row" ng-model="au.autorizacao" name="autorizacao" required>
                    <md-radio-button value="1">Autorizar</md-radio-button>
                    <md-radio-button value="0">Não autorizar</md-radio-button>
                </md-radio-group>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised md-primary" ng-click="au.autorizar()">Cadastrar</md-button>
    </md-dialog-actions>
</md-dialog>