<md-dialog aria-label="conserto dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Conserto</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cs.cancel()">
                <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-if="cs.loading"></md-progress-linear>
    <md-dialog-content>
        <div layout="column" layout-margin>
            <form name="formInicioAnalise">
                <md-input-container flex class="md-block" layout-marging>
                    <label>Técnico</label>
                    <md-select ng-model="cs.tecnicoSelecionado" name="tecnico" required>
                        <md-option ng-repeat="tecnico in cs.tecnicos" ng-value="{{tecnico.id}}" ng-model-option="{trackBy: '$value.Id' }" ng-selected="tecnico.id == cs.tecnicoAtual.id">
                            {{tecnico.nomeCompleto}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Descrição do conserto</label>
                    <textarea ng-model="cs.descricao" md-maxlength="300" rows="4" name="conserto" required></textarea>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised md-primary" ng-click="cs.conserto()">Cadastrar</md-button>
    </md-dialog-actions>
</md-dialog>