<md-dialog aria-label="deslocamento dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Deslocamento</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ds.cancel()">
                <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-if="ds.loading"></md-progress-linear>
    <md-dialog-content>
        <div>
            <form name="formDeslocamento">
                <div class="md-dialog-content" layout="column">
                    <div layout="row" layout-xs="column">
                        <md-input-container flex class="md-input-has-placeholder md-block">
                            <label>Km origem</label>
                            <input type="number" min="0" ng-model="ds.kmInicial" name="kmInicial" required>
                        </md-input-container>

                        <md-input-container flex class="md-input-has-placeholder md-block">
                            <label>Km destino</label>
                            <input type="number" min="0" ng-model="ds.kmFinal" name="kmFinal" required>
                        </md-input-container>

                        <md-input-container flex ng-disabled="true" class="md-input-has-placeholder md-block">
                            <label>Km total</label>
                            <input type="number" ng-model="ds.kmFinal - ds.kmInicial" name="kmTotal" required>
                        </md-input-container>
                    </div>

                    <div layout="row" layout-xs="column">
                        <md-input-container flex class="md-input-has-placeholder md-block">
                            <label>Hora saida</label>
                            <input ng-model="ds.hrSaida" name="hrSaida" ui-mask="99:99:99" model-view-value="true" required>
                        </md-input-container>

                        <md-input-container flex class="md-input-has-placeholder md-block">
                            <label>Hora chegada</label>
                            <input ng-model="ds.hrChegada" name="hrChegada" ui-mask="99:99:99" model-view-value="true" ng-change="ds.somaTempo(ds)" required>
                        </md-input-container>

                        <md-input-container flex ng-disabled="true" class="md-input-has-placeholder md-block">
                            <label>Tempo total</label>
                            <input ng-model="ds.hrTotal" name="tempoTotal" required ui-mask="99:99:99" model-view-value="true">
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised md-primary" ng-click="ds.deslocamento()">Cadastrar</md-button>
    </md-dialog-actions>
</md-dialog>