<md-tabs md-dynamic-height md-center-tabs md-swipe-content class="md-primary" md-stretch-tabs="always" md-selected="ch.targetTab">
    <!--listagem-->
    <md-tab label="{{ch.tab[0]}}" ng-click="ch.tabListagem()">
        <md-progress-linear md-mode="indeterminate" ng-if="ch.loadingChamados"></md-progress-linear>
        <md-content class="md-padding">

            <!--mensagem sem itens-->
            <div layout="column" ng-if=" ch.chamadosUsuario.length === 0" layout-margin layout-align="center center" style="padding-top:10%">
                <p>Não há chamados cadastradas</p>
                <a href="#" ui-sref="inicial.mapa">
                    Clique aqui e verifique se há chamados abertos
                </a>
            </div>

            <!--paineis-->
            <md-expansion-panel layout-fill md-component-id="{{::chamado.id}}" ng-repeat="chamado in ch.chamadosUsuario">
                <md-expansion-panel-collapsed>
                    <div class="md-title">{{::chamado.id}}</div>
                    <span flex></span>
                    <div class="md-summary">{{::chamado.dataAbertura | date:'short'}}</div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>

                <md-expansion-panel-expanded>
                    <md-expansion-panel-header ng-click="$panel.collapse()">
                        <div class="md-title">{{::chamado.id}}</div>
                        <span flex></span>
                        <div class="md-summary">{{::chamado.dataAbertura | date:'short'}}</div>
                        <md-expansion-panel-icon></md-expansion-panel-icon>
                    </md-expansion-panel-header>

                    <md-expansion-panel-content>
                        <md-card flex layout-padding>
                            <label>
                                <md-icon class="material-icons">perm_phone_msg</md-icon>Chamado:</label>
                            <md-divider></md-divider>
                            <span class="md-caption">{{::chamado.descricao}}</span>
                        </md-card>

                        <div layout="row" layout-xs="column">
                            <md-card flex layout-padding>
                                <label>
                                        <md-icon class="material-icons">date_range</md-icon>
                                        Datas:</label>
                                <md-divider></md-divider>
                                <span class="md-caption">Abertura em {{::chamado.dataAbertura | date:'short'}}</span>
                                <span class="md-caption" ng-if="chamado.dataFechamento != null">Fechada em {{::chamado.dataFechamento | date:'short'}}</span>
                            </md-card>

                            <md-card flex layout-padding>
                                <label>
                                        <md-icon class="material-icons">check_circle</md-icon>
                                        Status:</label>
                                <md-divider></md-divider>
                                <span class="md-caption">{{::chamado.status.status}}</span>
                            </md-card>

                        </div>
                        <md-card flex layout-padding ng-if="chamado.itens.length > 0">
                            <label>
                                <md-icon class="material-icons">devices</md-icon>
                                        Equipamento(s):
                            </label>
                            <label>
                                Total: {{::chamado.itens.length}}
                            </label>
                            <md-divider></md-divider>
                            <md-list flex class="scrollArea">
                                <md-list-item class="md-3-line" ng-repeat="item in chamado.itens">
                                    <div class="md-list-item-text" layout="column">
                                        <h3>{{::item.equipamento}}</h3>
                                        <h4>Modelo: {{::item.modelo}}</h4>
                                        <p>N/S: {{::item.numeroSerie}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card>
                    </md-expansion-panel-content>

                    <md-expansion-panel-footer>
                        <md-button flex class="md-raised md-warn">
                            Encerrar
                        </md-button>
                        <span flex></span>
                        <md-button flex ng-disabled="!chamado.permitidoEditar" class="md-raised md-primary" ng-click="ch.editar(chamado)">
                            Editar
                        </md-button>
                    </md-expansion-panel-footer>

                </md-expansion-panel-expanded>
            </md-expansion-panel>
        </md-content>
    </md-tab>

    <!--cadastro/edição-->
    <md-tab label="{{ch.tab[1]}}" ng-click="ch.tabCadastro()">
        <md-progress-linear md-mode="indeterminate" ng-if="ch.loading"></md-progress-linear>
        <md-content>

            <form name="formChamado" novalidate>
                <md-card>
                    <md-card-content>

                        <div layout="row" layout-margin ng-if="ch.chamado.id > 0">
                            <span>Chamado n° <strong>{{ch.chamado.id}}</strong></span>
                        </div>

                        <md-input-container class="md-block">
                            <label>Descrição do chamado.</label>
                            <textarea ng-model="ch.chamado.descricao" name="descricao" md-maxlength="300" rows="3" required></textarea>
                        </md-input-container>

                        <md-expansion-panel md-component-id="panel-equipamentos" class="panel-equipamentos">

                            <md-expansion-panel-collapsed>
                                <div class="md-title">Equipamentos</div>
                                <span flex></span>
                                <md-expansion-panel-icon></md-expansion-panel-icon>
                            </md-expansion-panel-collapsed>


                            <md-expansion-panel-expanded>

                                <md-expansion-panel-header ng-click="$panel.collapse()">
                                    <div class="md-title">Equipamentos</div>
                                    <span flex></span>
                                    <md-expansion-panel-icon></md-expansion-panel-icon>
                                </md-expansion-panel-header>

                                <md-expansion-panel-content>
                                    <div layout="row" layout-xs="column" layout-padding>
                                        <md-input-container md-no-float>
                                            <input ng-model="ch.item.equipamento" name="equipamento" placeholder="Equipamento">
                                        </md-input-container>
                                        <md-input-container md-no-float>
                                            <input ng-model="ch.item.numeroSerie" name="numeroSerie" placeholder="N/S">
                                        </md-input-container>
                                        <md-input-container md-no-float>
                                            <input ng-model="ch.item.modelo" name="modelo" placeholder="Modelo">
                                        </md-input-container>
                                        <div>
                                            <md-button flex class="md-raised" aria-label="adicionar" ng-click="ch.addRow(ch.item)">
                                                Adicionar
                                            </md-button>
                                        </div>
                                    </div>
                                    <div ng-if="ch.itens.length > 0">
                                        <md-divider></md-divider>
                                        <md-table-container>
                                            <table md-table>
                                                <thead md-head>
                                                    <tr md-row>
                                                        <th md-column>Equipamento</th>
                                                        <th md-column>N/S</th>
                                                        <th md-column>Modelo</th>
                                                    </tr>
                                                </thead>
                                                <tbody md-body>
                                                    <tr md-row ng-repeat="item in ch.itens">
                                                        <td md-cell>{{::item.equipamento}}</td>
                                                        <td md-cell>{{::item.numeroSerie}}</td>
                                                        <td md-cell>{{::item.modelo}}</td>
                                                        <td md-cell>
                                                            <md-button class="md-icon-button" aria-label="delete item" ng-click="ch.removeRow(item.equipamento)">
                                                                <md-icon class="material-icons">delete</md-icon>
                                                            </md-button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </md-table-container>
                                    </div>
                                    </md-table-container>
                                </md-expansion-panel-content>
                            </md-expansion-panel-expanded>

                        </md-expansion-panel>
                    </md-card-content>

                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="ch.limpar()" class="md-warn">Limpar</md-button>
                        <md-button ng-disabled="!formChamado.$valid" ng-if="!ch.chamado.id" class="md-raised md-primary" ng-click="ch.cadastrarChamado(ch.chamado)">Cadastrar</md-button>
                        <md-button ng-if="ch.chamado.id > 0" class="md-raised md-warn" ng-click="ch.editarChamado(ch.chamado)">Salvar edição</md-button>
                    </md-card-actions>
                </md-card>
            </form>


        </md-content>
    </md-tab>

</md-tabs>