<md-card class="md-whiteframe-2dp">
    <md-list>
        <md-list-item ng-repeat="msg in chat.mensagens">
            <p><span class="md-subhead">{{msg.remetente}} {{msg.msg}}</span></p>
        </md-list-item>
    </md-list>
    </md-card-content>
</md-card>


<div class="md-whiteframe-2dp footer">
    <div layout="row">
        <div flex="80">
            <md-input-container class="md-block">
                <label>Mensagem</label>
                <input ng-model="chat.chat.msg">
            </md-input-container>
        </div>
        <div flex>
            <md-button flex class="md-raised" ng-click="chat.sendMsg(chat.chat)">
                <md-icon class="material-icons">send</md-icon>
            </md-button>
        </div>
    </div>
</div>