<md-tabs md-dynamic-height md-center-tabs md-swipe-content class="md-primary" md-stretch-tabs="always" md-selected="ep.targetTab">
    <!--listagem-->
    <md-tab label="{{ep.tab[0]}}" ng-click="ep.tabListagem()">
        <md-progress-linear md-mode="indeterminate" ng-if="ep.loading"></md-progress-linear>

        <!--barra de busca-->
        <md-toolbar class="md-whiteframe-2dp">
            <div class="md-toolbar-tools searchBox">
                <div flex>
                    <md-input-container flex md-no-float class="md-icon-float md-icon-left md-block">
                        <md-icon class="material-icons">search</md-icon>
                        <input ng-model="ep.busca" type="text" placeholder="Buscar">
                    </md-input-container>
                </div>
                <div>
                    <md-menu ng-if="ep.isAdm">
                        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event) ">
                            <md-icon md-menu-origin class="material-icons">settings</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="ep.listarInativos($event)">
                                    <md-icon ng-if="ep.showInativos" class="material-icons">check_box</md-icon>
                                    <md-icon ng-if="ep.showInativos == false" class="material-icons">check_box_outline_blank</md-icon>
                                    Clientes inativos
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </md-toolbar>

        <md-content class="md-padding">
            <!--mensagem sem itens-->
            <div layout="column" ng-if="ep.empresas.length === 0 && ep.showInativos == false" layout-margin layout-align="center center" style="padding-top:10%">
                <p>Não há clientes ativos cadastrados</p>
                <a href="#" ng-if="ep.isAdm" ng-click="ep.listarInativos($event)">Consultar clientes inativos</a>
                <a href="#" ng-click="ep.tabCadastro()">
                    Clique aqui e cadastre agora
                </a>
            </div>
            <!--paineis inativos-->
            <md-expansion-panel layout-fill class="panel-empresa" md-component-id="{{::empIn.id}}" ng-repeat="empIn in ep.empresasInativas | filter: ep.busca">
                <md-expansion-panel-collapsed ng-click="ep.getDetalhes(empIn.id)">
                    <div class="md-title">
                        <md-icon ng-if="empIn.ativo" class="material-icons" style="color: #3cff3c">check</md-icon>
                        <md-icon ng-if="empIn.ativo == false" class="material-icons" style="color: red">close</md-icon>
                    </div>
                    <div class="md-title">{{::empIn.cnpj | cnpj}}</div>
                    <span flex></span>
                    <div class="md-summary">{{::empIn.nomeFantasia}}</div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>

                <md-expansion-panel-expanded>
                    <md-expansion-panel-header ng-click="$panel.collapse()">
                        <div class="md-title">
                            <md-icon ng-if="empIn.ativo" class="material-icons" style="color: #3cff3c">check</md-icon>
                            <md-icon ng-if="empIn.ativo == false" class="material-icons" style="color: red">close</md-icon>
                        </div>
                        <div class="md-title">{{::empIn.cnpj | cnpj}}</div>
                        <span flex></span>
                        <div flex class="md-summary">{{::empIn.nomeFantasia}}</div>
                        <md-expansion-panel-icon></md-expansion-panel-icon>
                    </md-expansion-panel-header>

                    <md-progress-linear md-mode="indeterminate" ng-if="ep.detalhesLoading"></md-progress-linear>
                    <md-expansion-panel-content ng-if="ep.detalhes.id">
                        <div layout="row" layout-xs="column">
                            <div layout="column" class="scrollArea" flex-xs="100" flex="40">
                                <md-card layout-padding>
                                    <label>
                                        <md-icon class="material-icons">home</md-icon>
                                        Endereço:</label>
                                    <md-divider></md-divider>
                                    <span class="md-caption">{{::ep.detalhes.endereco}}, {{::ep.detalhes.numero}} - {{::ep.detalhes.complemento}}</span>
                                    <span class="md-caption">Cep: {{::ep.detalhes.cep | cep}}, bairro: {{::ep.detalhes.bairro}}</span>
                                    <span class="md-caption">{{::ep.detalhes.cidade.nomeCidade}} - {{::ep.detalhes.estado.nomeEstado}} ({{::ep.detalhes.estado.sigla}})</span>
                                </md-card>
                                <md-card layout-padding>
                                    <label>
                                        <md-icon class="material-icons">phone</md-icon>
                                        Contato:</label>
                                    <md-divider></md-divider>
                                    <span class="md-caption">Fixo: {{::ep.detalhes.telContato | tel}}</span>
                                    <span class="md-caption">Celular: {{::ep.detalhes.telContatoCelular | tel}}</span>
                                    <span class="md-caption">E-mail: <a href="mailto:{{::ep.detalhes.email}}" target="_top">{{::ep.detalhes.email}}</a></span>
                                </md-card>
                                <md-card layout-padding>
                                    <label>
                                        <md-icon class="material-icons">check_circle</md-icon>
                                        Status:
                                    <span class="md-caption" ng-if="ep.detalhes.ativo == true"> Ativo</span>
                                    <span class="md-caption" ng-if="ep.detalhes.ativo == false"> Não ativo</span>
                                    </label>
                                </md-card>
                            </div>
                            <div flex>
                                <md-card>
                                    <div flex>
                                        <ng-map style="width: 100%;" id="map{{ep.detalhes.id}}" zoom-to-include-markers="true" center="[{{ep.detalhes.coordenadas}}]" disable-default-u-i="true" zoom="18">
                                            <marker position="[{{ep.detalhes.coordenadas}}]"></marker>
                                        </ng-map>
                                    </div>
                                </md-card>

                            </div>
                        </div>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" ng-click="ep.editar(empIn)">
                                Editar cliente
                            </md-button>
                        </div>
                    </md-expansion-panel-content>
                </md-expansion-panel-expanded>
            </md-expansion-panel>

            <!--paineis ativos-->
            <md-expansion-panel layout-fill class="panel-empresa" md-component-id="{{::emp.id}}" ng-repeat="emp in ep.empresas | filter: ep.busca">
                <md-expansion-panel-collapsed ng-click="ep.getDetalhes(emp.id)">
                    <div class="md-title">
                        <md-icon ng-if="emp.ativo" class="material-icons" style="color: #3cff3c">check</md-icon>
                        <md-icon ng-if="emp.ativo == false" class="material-icons" style="color: red">close</md-icon>
                    </div>
                    <div class="md-title">{{::emp.cnpj | cnpj}}</div>
                    <span flex></span>
                    <div class="md-summary">{{::emp.nomeFantasia}}</div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>

                <md-expansion-panel-expanded>
                    <md-expansion-panel-header ng-click="$panel.collapse()">
                        <div class="md-title">
                            <md-icon ng-if="emp.ativo" class="material-icons" style="color: #3cff3c">check</md-icon>
                            <md-icon ng-if="emp.ativo == false" class="material-icons" style="color: red">close</md-icon>
                        </div>
                        <div class="md-title">{{::emp.cnpj | cnpj}}</div>
                        <span flex></span>
                        <div flex class="md-summary">{{::emp.nomeFantasia}}</div>
                        <md-expansion-panel-icon></md-expansion-panel-icon>
                    </md-expansion-panel-header>

                    <md-progress-linear md-mode="indeterminate" ng-if="ep.detalhesLoading"></md-progress-linear>
                    <md-expansion-panel-content ng-if="ep.detalhes.id">
                        <div layout="row" layout-xs="column">
                            <div layout="column" class="scrollArea" flex-xs="100" flex="40">
                                <md-card layout-padding>
                                    <label>
                                        <md-icon class="material-icons">home</md-icon>
                                        Endereço:</label>
                                    <md-divider></md-divider>
                                    <span class="md-caption">{{::ep.detalhes.endereco}}, {{::ep.detalhes.numero}} - {{::ep.detalhes.complemento}}</span>
                                    <span class="md-caption">Cep: {{::ep.detalhes.cep | cep}}, bairro: {{::ep.detalhes.bairro}}</span>
                                    <span class="md-caption">{{::ep.detalhes.cidade.nomeCidade}} - {{::ep.detalhes.estado.nomeEstado}} ({{::ep.detalhes.estado.sigla}})</span>
                                </md-card>
                                <md-card layout-padding>
                                    <label>
                                        <md-icon class="material-icons">phone</md-icon>
                                        Contato:</label>
                                    <md-divider></md-divider>
                                    <span class="md-caption">Fixo: {{::ep.detalhes.telContato | tel}}</span>
                                    <span class="md-caption">Celular: {{::ep.detalhes.telContatoCelular | tel}}</span>
                                    <span class="md-caption">E-mail: <a href="mailto:{{::ep.detalhes.email}}" target="_top">{{::ep.detalhes.email}}</a></span>
                                </md-card>
                                <md-card layout-padding>
                                    <label>
                                        <md-icon class="material-icons">check_circle</md-icon>
                                        Status:
                                    <span class="md-caption" ng-if="ep.detalhes.ativo == true"> Ativo</span>
                                    <span class="md-caption" ng-if="ep.detalhes.ativo == false"> Não ativo</span>
                                    </label>
                                </md-card>
                            </div>
                            <div flex>
                                <md-card>
                                    <div flex>
                                        <ng-map style="width: 100%;" id="map{{ep.detalhes.id}}" zoom-to-include-markers="true" center="[{{ep.detalhes.coordenadas}}]" disable-default-u-i="true" zoom="18">
                                            <marker position="[{{ep.detalhes.coordenadas}}]"></marker>
                                        </ng-map>
                                    </div>
                                </md-card>

                            </div>
                        </div>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" ng-click="ep.editar(emp)">
                                Editar cliente
                            </md-button>
                        </div>
                    </md-expansion-panel-content>
                </md-expansion-panel-expanded>
            </md-expansion-panel>

            <div layout="row" layout-padding flex ng-if="ep.empresas.length > 0 || showInativos">
                <span>Total: 
                        <span class="contador contador-ativo">{{ep.empresas.length}} ativos</span>
                <span class="contador contador-inativo" ng-if="ep.showInativos">{{ep.empresas.length}} inativos</span>
                </span>
            </div>
        </md-content>
    </md-tab>

    <!--cadastro/edição-->
    <md-tab label="{{ep.tab[1]}}" ng-click="ep.tabCadastro()">
        <md-progress-linear md-mode="indeterminate" ng-if="ep.loading"></md-progress-linear>
        <md-content class="md-padding">
            <md-card>
                <md-card-content>
                    <form name="formEmpresa" novalidate>

                        <div layout-gt-sm="row" layout-sm="row">
                            <md-input-container flex class="md-block" md-no-float>
                                <input ng-model="ep.empresa.nomeFantasia" name="nomeFantasia" placeholder="Nome fantasia" ng-maxlength="100" required>
                            </md-input-container>

                            <md-input-container flex class="md-block" md-no-float>
                                <input ng-model="ep.empresa.razaoSocial" name="razaoSocial" placeholder="Razão social" ng-maxlength="100" required>
                            </md-input-container>

                            <md-input-container flex="20" flex-sm="20" flex-xs="100" class="md-input-has-placeholder md-block">
                                <label>CNPJ</label>
                                <input ng-model="ep.empresa.cnpj" ui-mask-placeholder-char="space" ui-mask="99.999.999/9999-99" name="cnpj" required>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <div layout="column" flex-gt-sm="60">
                                <div layout="row" layout-xs="column">
                                    <md-input-container flex-gt-sm="15" class="md-input-has-placeholder md-block">
                                        <label>CEP</label>
                                        <input ng-model="ep.empresa.cep" ui-mask-placeholder-char="space" ui-mask="99999-999" name="cep" required>
                                    </md-input-container>

                                    <md-input-container flex class="md-block" md-no-float>
                                        <input ng-model="ep.empresa.endereco" name="endereco" placeholder="Endereço" ng-maxlength="50" required>
                                    </md-input-container>

                                    <md-input-container flex-gt-sm="20" class="md-block" md-no-float>
                                        <input ng-model="ep.empresa.numero" name="numero" placeholder="Número" ng-maxlength="10">
                                    </md-input-container>
                                </div>

                                <div layout="row" layout-xs="column">
                                    <md-input-container flex class="md-block" md-no-float>
                                        <input ng-model="ep.empresa.complemento" name="complemento" placeholder="Complemento" ng-maxlength="50">
                                    </md-input-container>

                                    <md-input-container flex class="md-block" md-no-float>
                                        <input ng-model="ep.empresa.bairro" name="bairro" placeholder="Bairro" ng-maxlength="50" required>
                                    </md-input-container>
                                </div>

                                <div layout="row" layout-xs="column">
                                    <md-input-container flex class="md-block">
                                        <label>Estado</label>
                                        <md-select ng-model="ep.empresa.estado.id" ng-change="ep.getCidades(ep.empresa.estado.id)" name="estado" required>
                                            <md-option ng-repeat="estado in ep.estados" ng-value="{{estado.id}}" ng-model-option="{trackBy: '$value.Id' }" ng-selected="{{estado.id == ep.empresa.estado.id}}">{{estado.nomeEstado}} ({{estado.sigla}})
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container flex class="md-block">
                                        <label>Cidade</label>
                                        <md-select ng-model="ep.empresa.cidade.id" name="cidade" required>
                                            <md-option ng-repeat="cidade in ep.cidades" ng-value="{{cidade.id}}" ng-model-option="{trackBy: '$value.Id' }" ng-selected="{{cidade.id == ep.empresa.cidade.id}}">{{cidade.nomeCidade}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div layout="row" layout-xs="column">
                                    <md-input-container flex class="md-input-has-placeholder md-block">
                                        <label>Telefone comercial (fixo)</label>
                                        <input ng-model="ep.empresa.telContato" name="telContato" ui-mask-placeholder-char="space" ui-mask="(99) 9999-9999" required>
                                    </md-input-container>

                                    <md-input-container flex class="md-input-has-placeholder md-block">
                                        <label>Telefone comercial (celular)</label>
                                        <input ng-model="ep.empresa.telContatoCelular" name="telContatoCelular" ui-mask-placeholder-char="space" ui-mask="(99) 99999-9999">
                                    </md-input-container>

                                    <md-input-container flex class="md-block" md-no-float>
                                        <input type="email" ng-model="ep.empresa.email" name="email" placeholder="E-mail">
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <strong>Cliente ativo?</strong>
                                    <md-checkbox ng-model="ep.empresa.ativo" aria-label="ativo" ng-init="ep.empresa.ativo=true">
                                        (Desativar um cliente irá exclui-lo)
                                    </md-checkbox>
                                </div>
                            </div>
                            <div layout="column" flex>
                                <md-card class="md-whiteframe-5dp">
                                    <div>
                                        <md-button layout-fill ng-disabled="!formEmpresa.$valid" class="md-warn" ng-click="ep.buscaEndereco(ep.empresa)">Buscar posicionamento global</md-button>
                                        <md-progress-linear md-mode="indeterminate" ng-if="ep.mapLoading"></md-progress-linear>
                                    </div>

                                    <ng-map id="mapCadastro" style="width: 100%" zoom="18" disable-default-u-i="true">
                                        <marker position="[{{ep.coord}}]"></marker>
                                    </ng-map>
                                </md-card>
                            </div>
                        </div>
                        </div>

                    </form>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-warn" ng-click="ep.limpar()">Limpar</md-button>
                    <md-button ng-if="!ep.empresa.id" class="md-raised md-primary" ng-click="ep.cadastrar(ep.empresa)">Cadastrar</md-button>
                    <md-button ng-if="ep.empresa.id > 0" class="md-raised md-primary" ng-click="ep.salvar(ep.empresa)">Salvar edição</md-button>
                </md-card-actions>
            </md-card>

        </md-content>
    </md-tab>
</md-tabs>