<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Ordem de serviço N° {{im.os.id}}</h2>
        <span flex></span>
        <md-button class="md-icon-button">
            <md-icon class="material-icons" ng-print print-element-id="os">print</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="im.cancel()">
            <md-icon class="material-icons" aria-label="Close dialog">clear</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content layout-margin>
    <div id="os" layout="column">
        <div class="md-dialog-content">
            <div layout="row">
                <img src="images/breves-logo.png" class="md-card-image" alt="Washed Out" layout-padding>
            </div>
            <br>
            <div layout="row">
                <span flex="20"><label>Os: </label> {{im.os.id}}</span>&nbsp&nbsp&nbsp
                <span flex><label>Tipo: </label>{{im.os.tipo.tipo}}</span>&nbsp&nbsp&nbsp
                <span flex><label>Data abertura: </label>{{im.os.dataAberturaOs | date:'dd/MM/yyyy'}}</span>
            </div>
            <br>
            <div layout="row">
                <span flex><label>Cliente: </label>{{im.os.empresa.nomeFantasia}}</span>&nbsp&nbsp&nbsp
                <span flex="30"><label>CNPJ: </label>{{im.os.empresa.cnpj}}</span><br>
            </div>
            <span flex><label>Endereço: </label>{{im.os.empresa.endereco}}, {{im.os.empresa.numero}} - {{im.os.empresa.bairro}}</span><br>
            <br>
            <br>
            <h2>Equipamento</h2><br>
            <span flex><label>Equipamento: </label>{{im.os.item[0].equipamento}}</span>&nbsp&nbsp&nbsp
            <span flex><label>Modelo: </label>{{im.os.item[0].modelo}}</span>&nbsp&nbsp&nbsp
            <span flex><label>Número série: </label>{{im.os.item[0].numeroSerie}}</span>
            <br>
            <span flex><label>Defeito Informado: </label>{{im.os.defeitoInformado}}</span><br>
            <br>
            <h2>Início da análise</h2><br>
            <div layout="row">
                <span flex><label>Técnico: </label>{{im.os.inicioAnaliseOs.nomeTecnicoInicioAnalise}}</span>&nbsp&nbsp&nbsp
                <span flex="30"><label>Data: </label>{{im.os.inicioAnaliseOs.dataInicioAnalise | date:'dd/MM/yyyy'}}</span>
            </div>
            <br>
            <br>
            <h2>Fim da análise</h2><br>
            <div layout="row">
                <span flex><label>Técnico: </label>{{im.os.fimAnaliseOs.nomeTecnicoFimAnalise}}</span>&nbsp&nbsp&nbsp
                <span flex="30"><label>Data: </label>{{im.os.fimAnaliseOs.dataFimAnalise | date:'dd/MM/yyyy'}}</span>
            </div>
            <br>

            <div ng-repeat="peca in im.os.fimAnaliseOs.pecas">
                <span><label>Código: </label>{{peca.codigo}}</span>&nbsp
                <span><label>Peça:</label>{{peca.peca}}</span>&nbsp
                <span><label>Quantidade:</label>{{peca.quantidade}}</span>&nbsp
                <br>
            </div>

        </div>
        <br>
        <br>
        <h2>Autorização</h2><br>
        <div layout="row">
            <span flex>
                        <label flex ng-if="im.os.autorizacao.autorizacao == true">Autorizado? Sim</label><br>
                        <label flex ng-if="im.os.autorizacao.autorizacao == false">Autorizado? Não</label><br>
                    </span>
            <span flex="70"><label>Responsável: </label>{{im.os.autorizacao.responsavelAutorizacao}}</span><br>
        </div>
        <br>
        <br>
        <h2>Conserto</h2><br>
        <div layout="row">
            <span flex><label>Técnico: </label>{{im.os.conserto.nomeTecnicoConserto}}</span><br>
            <span flex="30"><label>Data: </label>{{im.os.conserto.dataConserto | date:'dd/MM/yyyy'}}</span><br>
        </div>
        <span flex><label>Descrição procedimento para conserto: </label>{{im.os.conserto.descricaoConserto}}</span><br>

        <br><br>

        <label>Responsavel</label><br> __________________________________________________________________________________________________________

        <br>
        <label>Data</label><br> __________________________________________________________________________________________________________

    </div>
</md-content>