<md-toolbar class="main-toolbar md-primary">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="mn.menu()">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <span flex></span>
        <md-button class="md-raised md-accent" ng-click="mn.logout()">Sair</md-button>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="menu">
    <div>
        <md-card layout-fill md-colors="::{background: 'default-accent'}">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="md-avatar-icon material-icons">perm_identity</md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{mn.nome}}</span>
                    <span class="md-subhead">{{mn.tipo}}</span>
                </md-card-header-text>
            </md-card-header>
        </md-card>
    </div>
    <md-content flex role="navigation">
        <md-list>
            <md-divider></md-divider>
            <md-list-item ng-repeat="menu in mn.menus" ui-sref="{{menu.state}}">
                <p>{{menu.nome}}</p>
                <md-icon class="material-icons md-secondary">{{menu.icon}}</md-icon>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>

<md-content ui-view="main-view">
    main
</md-content>