<div layout="column" layout-align="center center" class="loginBox">
    <md-card class="md-whiteframe-8dp" md-colors="::{background: 'default-primary'}">
        <img src="images/breves-logo.png" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text layout-align="center center">
                <span class="md-headline texto-titulo">Bem vindo</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="loginForm" ng-if="lg.loginBox">
                <md-input-container class="md-block" md-no-float>
                    <!--<input type="text" name="login" ng-model="::lg.loginForm.login" placeholder="CPF" required/>-->
                    <input ng-model="::lg.loginForm.login" ui-mask-placeholder-char="space" ui-mask="999.999.999-99" placeholder="CPF" name="cpf" required>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="senha" ng-model="::lg.loginForm.senha" placeholder="Senha" required my-enter="lg.login(lg.loginForm)" />
                </md-input-container>

                <div layout="column" layout-margin layout-align="center center">
                    <md-button layout-fill class="md-raised md-accent" aria-label="Entrar" ng-disabled="!loginForm.$valid" ng-click="lg.login(lg.loginForm)">
                        Entrar
                    </md-button>

                    <a href "#" aria-label="primeiro acesso" ng-click="lg.primeiroAcesso()">
                        Primeiro acesso
                    </a>
                </div>
            </form>
            <form name="primeiroAcessoForm" ng-if="lg.loginBox == false">
                <md-input-container class="md-block" md-no-float>
                    <!--<input type="text" name="login" ng-model="::lg.primeiroAcessoForm.login" placeholder="CPF" required/>-->
                    <input ng-model="::lg.primeiroAcessoForm.login" ui-mask-placeholder-char="space" ui-mask="999.999.999-99" placeholder="CPF" name="cpf" required>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="senha" ng-model="::lg.primeiroAcessoForm.senha" placeholder="Senha" />
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="repetirSenha" ng-model="::lg.primeiroAcessoForm.repetirSenha" placeholder="Repita sua senha" required my-enter="lg.loginPrimeiroAcesso(lg.primeiroAcessoForm)" />
                </md-input-container>

                <div layout="column" layout-margin layout-align="center center">
                    <md-button layout-fill class="md-raised md-accent" aria-label="Entrar" ng-disabled="!primeiroAcessoForm.$valid" ng-click="lg.loginPrimeiroAcesso(lg.primeiroAcessoForm)">
                        Primeiro Acesso
                    </md-button>
                    <a href "#" aria-label="voltar" ng-click="lg.voltar()">
                        voltar
                    </a>
                </div>
            </form>
        </md-card-content>
        <md-progress-linear md-mode="indeterminate" ng-if="lg.loading"></md-progress-linear>
    </md-card>
</div>
<footer>
    <div layout="row" class="footer" layout-align="center center">
        <span>©  {{::lg.footerinfo.year}} Breves Inovação e Automação Industrial. Desenvolvido por <a href="http://www.rayfen.com.br">RAYFEN</a></span>
    </div>
</footer>