<md-progress-linear md-mode="indeterminate" ng-if="mp.loading == true">
</md-progress-linear>
<div flex id="map-chamado-container">
    <ng-map id="map-chamado" center="[-22.9109878,-43.7285259,10]" zoom="10">
        <!--<marker ng-repeat="p in mp.pins" id="{{p.chamadoId}}" position="{{p.empresa.coordenadas.latitude}}, {{p.empresa.coordenadas.longitude}}" animation="DROP" on-click="mp.infoWindow(p)"></marker>

        <info-window id="infoWindow">
            <div ng-non-bindable>
                <div layout="column" layout-padding layout-align="center-center" ng-if="mp.loadingAtender == true">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    <span>Preparando atendimento...</span>
                </div>
                <md-list flex>
                    <div ng-if="mp.loadingAtender == false">
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{mp.chamado.empresa.nomeFantasia}}</h3>
                                <h4>{{mp.chamado.empresa.endereco}}, {{mp.chamado.empresa.numero}}</h4>
                                <p>{{mp.chamado.status.status}}</p>
                            </div>
                        </md-list-item>
                        <md-button layout-fill class="md-raised md-warn" aria-label="Atender" ng-click="mp.atender()">Atender chamado</md-button>
                    </div>
                </md-list>
            </div>
        </info-window>-->
    </ng-map>


</div>