<md-tabs md-dynamic-height md-center-tabs md-swipe-content class="md-primary" md-stretch-tabs="always" md-selected="os.targetTab">
    <!--listagem-->
    <md-tab label="{{os.tab[0]}}" ng-click="os.tabListagem()">
        <md-progress-linear md-mode="indeterminate" ng-if="os.loadingOrdensServicos"></md-progress-linear>
        <md-content class="md-padding">
            <!--mensagem sem itens-->
            <div layout="column" ng-if=" os.ordensServicos.length === 0" layout-margin layout-align="center center" style="padding-top:10%">
                <p>Não há ordem(ns) de serviço(s) abertas pelo usuário</p>
                <!--<a href="#" ui-sref="inicial.mapa">
                    Clique aqui e verifique se há chamados abertos
                </a>-->
            </div>
            <!--paineis-->
            <md-expansion-panel layout-fill md-component-id="{{ords.id}}" ng-repeat="ords in os.ordensServicos">
                <md-expansion-panel-collapsed ng-click="os.getDetalhes(ords)">
                    <div class="md-title">OS: {{ords.id}}</div>
                    <div class="md-summary" hide-xs>
                        <span class="md-title">Aberto em: </span>{{ords.dataAberturaOs | date:'short'}}
                    </div>
                    <div class="md-summary">
                        <span class="md-title">
                                <md-icon class="material-icons" ng-style={{ords.status.cor}}>fiber_manual_record</md-icon>
                                {{ords.status.status}}
                            </span>
                    </div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>
                <md-expansion-panel-expanded>
                    <md-expansion-panel-header ng-click="$panel.collapse()">
                        <div class="md-title">OS: {{os.detalhes.id}}</div>
                        <div class="md-summary">
                            <span class="md-title">
                                <md-icon class="material-icons" ng-style={{os.status.cor}}>fiber_manual_record</md-icon>
                                {{os.detalhes.status.status}}
                            </span>
                        </div>
                        <md-menu>
                            <md-button aria-span="Abrir menu os" class=" md-warn" ng-click="$mdOpenMenu($event) ">
                                Ações
                                <md-icon md-menu-origin class="material-icons">menu</md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item ng-if="os.permissaoEditar">
                                    <md-button ng-click="os.editar(os.detalhes)">
                                        <md-icon class="material-icons">create</md-icon>
                                        Editar
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="os.inicioAnalise($event, ords)">
                                        <md-icon class="material-icons">play_circle_outline</md-icon>
                                        Iniciar análise
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="os.fimAnalise($event, ords)">
                                        <md-icon class="material-icons ">pause_circle_outline</md-icon>
                                        Análise pronta
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="os.autorizacao($event, ords) ">
                                        <md-icon class="material-icons">thumb_up</md-icon>
                                        Autorização
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="os.conserto($event, ords) ">
                                        <md-icon class="material-icons">build</md-icon>
                                        Conserto
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="os.deslocamento($event,ords) ">
                                        <md-icon class="material-icons">directions_car</md-icon>
                                        Deslocamento
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="os.encerrar($event, ords) ">
                                        <md-icon class="material-icons">done</md-icon>
                                        Encerrar
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="os.imprimir(ords)">
                                        <md-icon class="material-icons">print</md-icon>
                                        Imprimir
                                    </md-button>
                                </md-menu-item>
                                </span>
                            </md-menu-content>
                        </md-menu>
                        <md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
                    </md-expansion-panel-header>
                    <md-progress-linear md-mode="indeterminate" ng-if="os.loadingDetalhes"></md-progress-linear>
                    <md-expansion-panel-content>
                        <div layout="column">
                            <slick dots="true" prev-arrow=".slick-prev" ng-if="os.loadingDetalhes == false" next-arrow=".slick-next">
                                <div>
                                    <div layout="column">
                                        <!--os-->
                                        <h1 class="md-title" layout="row" layout-align="center center">Ordem de serviço</h1>
                                        <span flex>
                                            <span class="md-subhead">
                                                <md-icon class="material-icons"  ng-style={{os.detalhes.status.cor}}>fiber_manual_record</md-icon>{{os.detalhes.status.status}}
                                            </span>
                                        </span>
                                        <span flex><span class="md-subhead">Data abertura: </span>{{os.detalhes.dataAberturaOs
                                        | date:'short'}}</span>
                                        <span flex ng-if="os.detalhes.dataFechamentoOs != null"><span class="md-subhead">Fechada em: </span>{{os.detalhes.dataFechamentoOs
                                        | date:'short'}}</span>
                                        <span flex><span class="md-subhead">Tempo em aberto: </span>{{os.detalhes.tempoAberto}}</span>
                                        <span flex><span class="md-subhead">Número: </span>{{os.detalhes.id}}</span>
                                        <span flex><span class="md-subhead">Tipo: </span>{{os.detalhes.tipo.tipo}}</span>
                                        <div ng-if="os.detalhes.tipo.id == 2">
                                            <div flex ng-if="os.detalhes.preventivo">
                                                <span class="md-subhead">Preventivo? </span>
                                                <md-checkbox ng-model="os.detalhes.preventivo" ng-disabled="true"></md-checkbox>
                                            </div>
                                            <div flex ng-if="os.detalhes.emergencia">
                                                <span class="md-subhead">Emergencia? </span>
                                                <md-checkbox ng-model="os.detalhes.emergencia" ng-disabled="true"></md-checkbox>
                                            </div>
                                        </div>
                                        <span flex><span class="md-subhead">Aberta por: </span>{{os.detalhes.usuario.nomeCompleto}}</span>
                                    </div>
                                </div>
                                <div>
                                    <div layout="column">
                                        <!--cliente-->
                                        <h1 class="md-title" layout="row" layout-align="center center">Cliente</h1>
                                        <span flex><span class="md-subhead">Nome fantasia: </span>{{os.detalhes.empresa.nomeFantasia}}</span>
                                        <span flex><span class="md-subhead">CNPJ: </span>{{os.detalhes.empresa.cnpj}}</span>
                                        <span flex><span class="md-subhead">Razão social: </span>{{os.detalhes.empresa.razaoSocial}}</span>
                                        <span flex><span class="md-subhead">Endereço: </span>{{os.detalhes.empresa.endereco}},
                                        {{os.detalhes.empresa.numero}}
                                        </span>
                                        <span flex><span class="md-subhead">Complemento: </span>{{os.detalhes.empresa.complemento}}</span>
                                        <div layout="row" layout-xs="column">
                                            <span flex><span class="md-subhead">Bairro: </span>{{os.detalhes.empresa.bairro}}</span>
                                            <span flex><span class="md-subhead">Cep: </span>{{os.detalhes.empresa.cep}}</span>
                                        </div>
                                        <div layout="row" layout-xs="column">
                                            <span flex><span class="md-subhead">Cidade: </span>{{os.detalhes.empresa.cidade.nomeCidade}}</span>
                                            </span>
                                            <span flex><span class="md-subhead">Estado: </span>{{os.detalhes.empresa.estado.nomeEstado}}</span>
                                            </span>
                                        </div>
                                        <span flex><span class="md-subhead">Telefone de contato: </span>{{os.detalhes.empresa.telContato}}</span>
                                        <span flex><span class="md-subhead">Empresa ativa? </span>
                                        <md-checkbox ng-model="os.detalhes.empresa.ativo" ng-disabled="true">
                                        </md-checkbox>
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div layout="column">
                                        <!--Equipamentos-->
                                        <h1 class="md-title" layout="row" layout-align="center center">Equipamento e defeito</h1>
                                        <md-table-container ng-if="os.detalhes.equipamentos.length > 0">
                                            <table md-table>
                                                <thead md-head>
                                                    <tr md-row>
                                                        <th md-column>Equipamento</th>
                                                        <th md-column>Modelo</th>
                                                        <th md-column>N/S</th>
                                                        <th md-column>Localização</th>
                                                    </tr>
                                                </thead>
                                                <tbody md-body>
                                                    <tr md-row ng-repeat="item in os.detalhes.equipamentos">
                                                        <td md-cell>{{item.equipamento}}</td>
                                                        <td md-cell>{{item.modelo}}</td>
                                                        <td md-cell>{{item.numeroSerie}}</td>
                                                        <td md-cell>{{item.localizacao}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </md-table-container>
                                        <span class="md-subhead">Defeito Informado: </span>{{os.detalhes.defeitoInformado}}</span>
                                        </span>
                                        <span class="md-subhead">Defeito Constatado:</span>{{os.detalhes.defeitoConstatado}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div layout="column" layout-align="center center" ng-if="os.detalhes.inicioAnaliseOs.tecnicoInicioAnalise == 0">
                                        <h1 class="md-title">Início da análise</h1>
                                        <div>Sem registros</div>
                                    </div>
                                    <div layout="column" ng-if="os.detalhes.inicioAnaliseOs.tecnicoInicioAnalise > 0">
                                        <!--Início da análise-->
                                        <h1 class="md-title" layout="row" layout-align="center center">Início da análise</h1>
                                        <span flex><span class="md-subhead">Técnico: </span>{{os.detalhes.inicioAnaliseOs.nomeTecnicoInicioAnalise}}</span>
                                        <span flex><span class="md-subhead">Data: </span>{{os.detalhes.inicioAnaliseOs.dataInicioAnalise
                                        | date:'short'}}
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div layout="column" layout-align="center center" ng-if="os.detalhes.fimAnaliseOs.tecnicoFimAnalise == 0">
                                        <h1 class="md-title">Fim da análise</h1>
                                        <div>Sem registros</div>
                                    </div>
                                    <div layout="column" ng-if="os.detalhes.fimAnaliseOs.tecnicoFimAnalise > 0">
                                        <!--Fim da análise-->
                                        <h1 class="md-title" layout="row" layout-align="center center">Fim da análise</h1>
                                        <span flex><span class="md-subhead">Técnico: </span>{{os.detalhes.fimAnaliseOs.nomeTecnicoFimAnalise}}</span>
                                        <span flex><span class="md-subhead">Data: </span>{{os.detalhes.fimAnaliseOs.dataFimAnalise
                                        | date:'short'}}</span>
                                        <md-table-container ng-if="os.detalhes.fimAnaliseOs.pecas.length > 0">
                                            <table md-table>
                                                <thead md-head>
                                                    <tr md-row>
                                                        <th md-column>Código</th>
                                                        <th md-column>Descrição do item a ser trocado</th>
                                                        <th md-column>Quant.</th>
                                                    </tr>
                                                </thead>
                                                <tbody md-body>
                                                    <tr md-row ng-repeat="peca in os.detalhes.fimAnaliseOs.pecas">
                                                        <td md-cell>{{peca.codigo}}</td>
                                                        <td md-cell>{{peca.peca}}</td>
                                                        <td md-cell>{{peca.quantidade}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </md-table-container>
                                    </div>
                                </div>
                                <div>
                                    <div layout="column" layout-align="center center" ng-if="os.detalhes.autorizacao.responsavelAutorizacao == '' ">
                                        <h1 class="md-title">Autorização</h1>
                                        <div>Sem registros</div>
                                    </div>
                                    <div layout="column" ng-if="os.detalhes.autorizacao.responsavelAutorizacao != '' ">
                                        <!--Autorização-->
                                        <h1 class="md-title" layout="row" layout-align="center center">Autorização</h1>
                                        <span flex ng-if="os.detalhes.autorizacao.autorizacao == true"><span class="md-subhead">Autorizado? </span>Sim</span>
                                        <span flex ng-if="os.detalhes.autorizacao.autorizacao == false"><span class="md-subhead">Autorizado? </span>Não</span>
                                        <span flex><span class="md-subhead">Responsável: </span>{{os.detalhes.autorizacao.responsavelAutorizacao}}</span>
                                    </div>
                                </div>
                                <div>
                                    <div layout="column" layout-align="center center" ng-if="os.detalhes.conserto.tecnicoConserto == 0">
                                        <h1 class="md-title">Conserto</h1>
                                        <div>Sem registros</div>
                                    </div>
                                    <div layout="column" ng-if="os.detalhes.conserto.tecnicoConserto > 0">
                                        <!--Conserto-->
                                        <h1 class="md-title" layout="row" layout-align="center center">Conserto</h1>
                                        <span flex><span class="md-subhead">Técnico: </span>{{os.detalhes.conserto.nomeTecnicoConserto}}</span>
                                        <span flex><span class="md-subhead">Data: </span>{{os.detalhes.conserto.dataConserto|
                                        date:'short'}}
                                        </span>
                                        <span flex><span class="md-subhead">Descrição: </span>{{os.detalhes.conserto.descricaoConserto}}</span>
                                    </div>
                                </div>
                                <div>
                                    <div layout="column">
                                        <!--Deslocamento-->
                                        <h1 class="md-title" layout="row" layout-align="center center">Deslocamento</h1>
                                        <div layout="row" layout-xs="column">
                                            <span flex><span class="md-subhead">Saída (hrs): </span>{{os.detalhes.deslocamaneto.deslocamentoSaida
                                            | date:'mediumTime'}}</span>
                                            <span flex><span class="md-subhead">Chegada (hrs): </span>{{os.detalhes.deslocamaneto.deslocamentoChegada
                                            | date:'mediumTime'}}</span>
                                            <span flex><span class="md-subhead">Tempo Gasto (hrs): </span>{{os.detalhes.deslocamaneto.deslocamentoTotal
                                            | date:'mediumTime'}}</span>
                                        </div>
                                        <div layout="row" layout-xs="column">
                                            <span flex><span class="md-subhead">Saída (Km): </span>{{os.detalhes.deslocamaneto.kmInicial}}</span>
                                            <span flex><span class="md-subhead">Chegada (Km): </span>{{os.detalhes.deslocamaneto.kmFinal}}</span>
                                            <span flex><span class="md-subhead">Distancia percorrida (Km): </span>{{os.detalhes.deslocamaneto.kmTotal}}</span>
                                        </div>
                                    </div>
                                </div>
                            </slick>
                        </div>
                        <div layout="row" ng-if="os.loadingDetalhes == false">
                            <md-button class="slick-prev">
                                Anteriror</md-button>
                            <span flex></span>
                            <md-button class="slick-next">
                                Próximo</md-button>
                        </div>
                    </md-expansion-panel-content>
                </md-expansion-panel-expanded>
            </md-expansion-panel>
        </md-content>
    </md-tab>
    <!--cadastro/edição-->
    <md-tab label="{{os.tab[1]}}" ng-click="os.tabCadastro()">
        <md-progress-linear md-mode="indeterminate" ng-if="os.loading"></md-progress-linear>
        <md-card layout-margin class="md-whiteframe-8dp">
            <md-content>
                <md-card-content>
                    <div layout="row" ng-if="os.ordemServico.id > 0">
                        <span>Ordem serviço n° <strong>{{os.ordemServico.id}}</strong></span>
                    </div>
                    <form name="formOrdemServico" novalidate>
                        <div layout="row" layout-xs="column" layout-wrap>
                            <md-input-container flex="20" flex-gt-sm="40" flex-xs="100" class="md-block" md-no-float name="tipoOs" required>
                                <label>Tipo da ordem de serviço</label>
                                <md-select ng-model="os.ordemServico.tipo.id">
                                    <md-option value="1">Garantia</md-option>
                                    <md-option value="2">Contrato Manutenção</md-option>
                                    <md-option value="3">Orçamento</md-option>
                                </md-select>
                            </md-input-container>
                            <!--<div layout="row" layout-xs="column" flex ng-if="os.ordemServico.tipo.id == 1">
                                <md-input-container layout-margin class="md-block" md-no-float>
                                    <input ng-model="os.ordemServico.osGarantia" name="osGarantia" placeholder="N° da ordem de serviço">
                                </md-input-container>
                                <div>
                                    <md-button class="md-button md-warn" aria-label="Validar garantia" ng-click="os.validarGarantia(os.ordemServico.osGarantia)">
                                        Validar garantia
                                    </md-button>
                                </div>
                            </div>-->
                            <div layout-margin flex ng-if="os.ordemServico.tipo.id == 2">
                                <md-checkbox ng-model="os.ordemServico.preventivo" ng-disabled="os.ordemServico.emergencia" aria-label="preventivo" style="margin-top: 15px;">
                                    Preventivo
                                </md-checkbox>
                                <md-checkbox ng-model="os.ordemServico.emergencia" ng-disabled="os.ordemServico.preventivo" aria-label="emergencia" style="margin-top: 15px;">
                                    Emergência
                                </md-checkbox>
                            </div>
                        </div>
                        <md-autocomplete ng-disabled="os.empresas.length == 0" md-no-cache="false" md-delay="500" md-selected-item="os.selectedItem"
                            md-selected-item-change="os.selectedItemChange(os.selectedItem)" md-search-text="os.buscaEmpresa.nomeFantasia"
                            md-items="empresa in os.empresas | filter: os.buscaEmpresa.nomeFantasia" md-item-text="empresa.nomeFantasia"
                            md-min-length="0" placeholder="Nome da empresa" name="nomeFantasia" required>
                            <md-item-template>
                                <span md-highlight-text="os.buscaEmpresa.nomeFantasia" md-highlight-flags="^i">{{empresa.nomeFantasia}}</span>
                                <md-icon ng-if="empresa.ativo" class="material-icons" style="color: #3cff3c">check</md-icon>
                                <md-icon ng-if="empresa.ativo == false" class="material-icons" style="color: red">close</md-icon>
                            </md-item-template>
                            <md-not-found>
                                <a href="#" ui-sref="inicial.empresa">Clique aqui para cadastrar</a>
                            </md-not-found>
                        </md-autocomplete>
                        <md-card class="card-autocomplete" ng-if="os.selectedItem.id > 0">
                            <md-card-content>
                                <md-list flex>
                                    <md-list-item class="md-3-line">
                                        <div class="md-list-item-text" layout="column">
                                            <h3>
                                                <md-icon ng-if="os.selectedItem.ativo" class="material-icons" style="color: #3cff3c">check</md-icon>
                                                <md-icon ng-if="os.selectedItem.ativo == false" class="material-icons" style="color: red">close</md-icon>
                                                {{os.selectedItem.nomeFantasia}}, {{os.selectedItem.cnpj | cnpj}}</h3>
                                            <h4>{{os.selectedItem.endereco}}, {{os.selectedItem.numero}} - {{os.selectedItem.complemento}}.
                                                Cep: {{os.selectedItem.cep | cep}}, bairro: {{os.selectedItem.bairro}}, {{os.selectedItem.cidade.nomeCidade}}
                                                - {{os.selectedItem.estado.nomeEstado}} ({{os.selectedItem.estado.sigla}})
                                            </h4>
                                            <p>Fixo: {{os.selectedItem.telContato | tel}}, celular: {{os.selectedItem.telContatoCelular
                                                | tel}}, e-mail: <a href="mailto:{{os.selectedItem.email}}" target="_top">{{os.selectedItem.email}}</a></p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                        <div layout="row" layout-align="center center" layout-padding ng-if="os.empresas.length == 0">Não ha clientes ativos cadastrados.<a href="#" ui-sref="inicial.empresa">Clique aqui para cadastrar</a></div>
                        <!--pegar as infos do chamado futuramente-->
                        <md-input-container class="md-block" md-no-float>
                            <textarea ng-model="os.ordemServico.defeitoInformado" name="defeitoInformado" placeholder="Defeito informado pelo cliente"
                                md-maxlength="300" rows="3" required></textarea>
                        </md-input-container>
                        <md-input-container class="md-block" md-no-float>
                            <textarea ng-model="os.ordemServico.defeitoConstatado" name="defeitoConstatado" placeholder="Defeito constatado" md-maxlength="300"
                                rows="3" required></textarea>
                        </md-input-container>
                        <md-expansion-panel md-component-id="panel-equipamentos" class="panel-equipamentos">
                            <md-expansion-panel-collapsed>
                                <div class="md-title">Equipamentos</div>
                                <span flex></span>
                                <md-expansion-panel-icon class="icon-expansion-panel"></md-expansion-panel-icon>
                            </md-expansion-panel-collapsed>
                            <md-expansion-panel-expanded>
                                <md-expansion-panel-header ng-click="$panel.collapse()">
                                    <div class="md-title">Equipamentos</div>
                                    <span flex></span>
                                    <md-expansion-panel-icon></md-expansion-panel-icon>
                                </md-expansion-panel-header>
                                <md-expansion-panel-content>
                                    <div class="equipamento-box">
                                        <div layout="row" layout-xs="column">
                                            <md-input-container flex md-no-float>
                                                <input ng-model="os.item.equipamento" name="equipamento" placeholder="Equipamento">
                                            </md-input-container>
                                            <md-input-container flex md-no-float>
                                                <input ng-model="os.item.numeroSerie" name="numeroSerie" placeholder="N/S">
                                            </md-input-container>
                                            <md-input-container flex md-no-float>
                                                <input ng-model="os.item.modelo" name="modelo" placeholder="Modelo">
                                            </md-input-container>
                                            <md-input-container flex md-no-float>
                                                <input ng-model="os.item.localizacao" name="localizacao" placeholder="Localização">
                                            </md-input-container>
                                            <div>
                                            <md-button flex class="md-raised md-accent" style="margin-top: -10px;" aria-label="adicionar" ng-click="os.addRow(os.item)">
                                                Adicionar
                                            </md-button>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="os.itens.length > 0" class="scrollArea">
                                        <md-divider></md-divider>
                                        <md-table-container>
                                            <table md-table>
                                                <thead md-head>
                                                    <tr md-row>
                                                        <th md-column>Equipamento</th>
                                                        <th md-column>N/S</th>
                                                        <th md-column>Modelo</th>
                                                        <th md-column>Localização</th>
                                                    </tr>
                                                </thead>
                                                <tbody md-body>
                                                    <tr md-row ng-repeat="item in os.itens">
                                                        <td md-cell>{{item.equipamento}}</td>
                                                        <td md-cell>{{item.numeroSerie}}</td>
                                                        <td md-cell>{{item.modelo}}</td>
                                                        <td md-cell>{{item.localizacao}}</td>
                                                        <td md-cell>
                                                            <md-button class="md-icon-button md-warn" aria-label="delete item" ng-click="os.removeRow(item.equipamento)">
                                                                <md-icon class="material-icons">delete</md-icon>
                                                            </md-button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </md-table-container>
                                    </div>
                                    </md-table-container>
                                </md-expansion-panel-content>
                            </md-expansion-panel-expanded>
                        </md-expansion-panel>
                    </form>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="os.limpar()" class="md-warn">Limpar</md-button>
                    <md-button ng-disabled="!formOrdemServico.$valid" ng-if="!os.ordemServico.id" class="md-raised md-primary" ng-click="os.cadastrarOrdemServico(os.ordemServico)">Cadastrar</md-button>
                    <md-button ng-if="os.ordemServico.id > 0" class="md-raised  md-primary" ng-click="os.editarOrdemServico(os.ordemServico)">Salvar edição</md-button>
                </md-card-actions>
            </md-content>
        </md-card>
    </md-tab>
</md-tabs>