<md-tabs md-dynamic-height md-center-tabs md-swipe-content class="md-primary" md-stretch-tabs="always" md-selected="us.targetTab">
    <!--listagem-->
    <md-tab label="{{us.tab[0]}}" ng-click="us.tabListagem()">
        <md-progress-linear md-mode="indeterminate" ng-if="us.loadingOrdensServicos"></md-progress-linear>
        <md-content class="md-padding">

            <!--mensagem sem itens-->
            <div layout="column" ng-if=" us.usuarios.length === 0" layout-margin layout-align="center center" style="padding-top:10%">
                <p>Não há ordem(ns) usuários cadastrados</p>
                <!--<a href="#" ui-sref="inicial.mapa">
                    Clique aqui e verifique se há chamados abertos
                </a>-->
            </div>

            <!--paineis-->
            <md-expansion-panel layout-fill md-component-id="{{user.id}}" ng-repeat="user in us.usuarios">
                <md-expansion-panel-collapsed ng-click="us.getDetalhes(user)">
                    <div class="md-title">{{::user.nomeCompleto}}</div>
                    <div class="md-summary" hide-xs>{{::user.cpf | cpf}}</div>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>

                <md-expansion-panel-expanded>
                    <md-expansion-panel-header ng-click="$panel.collapse()">
                        <div class="md-title">{{::user.nomeCompleto}}</div>
                        <div class="md-summary" hide-xs>{{::user.cpf | cpf}}</div>

                        <md-expansion-panel-icon ng-click="$panel.collapse()"></md-expansion-panel-icon>
                    </md-expansion-panel-header>
                    <md-progress-linear md-mode="indeterminate" ng-if="us.loadingDetalhes"></md-progress-linear>
                    <md-expansion-panel-content>
                        <div layout="column" ng-if="us.loadingDetalhes == false">
                            <span flex><span class="md-subhead">Nome completo: </span>{{us.detalhes.nomeCompleto}}</span>
                            <span flex><span class="md-subhead">CPF: </span>{{us.detalhes.cpf | cpf}}</span>
                            <span flex><span class="md-subhead">E-mail: </span>{{us.detalhes.email}}</span>
                            <span flex><span class="md-subhead">Telefone contato: </span>{{us.detalhes.telContato | tel}}</span>
                            <span flex><span class="md-subhead">Tipo de usuário: </span>{{us.detalhes.tipoUsuario.tipo}}</span>
                            <span flex><span class="md-subhead">Usuário ativo? </span>
                            <md-checkbox ng-model="us.detalhes.ativo" ng-disabled="true">
                            </md-checkbox>
                            </span>
                        </div>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" ng-click="us.editar(us.detalhes)">
                                Editar usuário
                            </md-button>
                            <md-button class="md-warn" ng-click="us.resetarSenha($event, user)">
                                Resetar senha
                            </md-button>
                        </div>
                    </md-expansion-panel-content>

                </md-expansion-panel-expanded>
            </md-expansion-panel>
        </md-content>
    </md-tab>

    <!--cadastro/edição-->
    <md-tab label="{{us.tab[1]}}" ng-click="us.tabCadastro()">
        <md-progress-linear md-mode="indeterminate" ng-if="us.loading"></md-progress-linear>
        <md-card layout-margin class="md-whiteframe-8dp">
            <md-content>
                <md-card-content>
                    <div layout="row" ng-if="us.usuario.id > 0">
                        <span>Usuario n° <strong>{{::us.usuario.id}}</strong></span>
                    </div>
                    <form name="formUsuario" novalidate>
                        <md-input-container flex class="md-block" required>
                            <label>Tipo da usuário</label>
                            <md-select ng-model="us.usuario.tipoUsuario.id" name="tipoUsuario" required>
                                <md-option ng-repeat="tipo in us.tiposUsuarios" ng-value="{{tipo.id}}" ng-model-option="{trackBy: '$value.Id' }" ng-selected="{{tipo.id == us.usuario.tipoUsuario.id}}">{{::tipo.tipo}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <div layout="row" layout-xs="column">
                            <md-input-container flex class="md-block" md-no-float>
                                <input ng-model="us.usuario.nomeCompleto" name="nomeCompleto" placeholder="Nome completo" ng-maxlength="100" required>
                            </md-input-container>

                            <md-input-container flex="20" flex-xs="100" class="md-input-has-placeholder md-block">
                                <label>CPF</label>
                                <input ng-model="us.usuario.cpf" ui-mask-placeholder-char="space" ui-mask="999.999.999-99" name="cpf" required>
                            </md-input-container>
                        </div>

                        <div layout="row" layout-xs="column">
                            <md-input-container flex class="md-input-has-placeholder md-block">
                                <label>Telefone (celular)</label>
                                <input ng-model="us.usuario.telContato" name="telContato" ui-mask-placeholder-char="space" ui-mask="(99) 99999-9999" required>
                            </md-input-container>

                            <md-input-container flex class="md-block" md-no-float>
                                <input ng-model="us.usuario.email" name="email" placeholder="E-mail" required>
                            </md-input-container>
                        </div>
                        <div flex>
                            <strong>Usuário ativo?</strong>
                            <md-checkbox ng-model="us.usuario.ativo" aria-label="ativo" ng-init="us.usuario.ativo=true">
                                (Desativar uma usuário irá impedi-lo de logar)
                            </md-checkbox>
                        </div>
                    </form>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="us.limpar()" class="md-warn">Limpar</md-button>
                    <md-button ng-disabled="!formUsuario.$valid" ng-if="!us.usuario.id" class="md-raised md-primary" ng-click="us.cadastrarUsuario(us.usuario)">Cadastrar</md-button>
                    <md-button ng-if="us.usuario.id > 0" class="md-raised md-primary" ng-click="us.editarUsuario(us.usuario)">Salvar edição</md-button>
                </md-card-actions>
            </md-content>
        </md-card>
    </md-tab>

</md-tabs>